.profileImage {
  width: 80%;
  border-radius: 20%;
  margin: var(--space-md) auto var(--space-lg);
  display: block;
  box-shadow: var(--shadow-light);
  transition: filter var(--transition-time-base) ease,
    box-shadow var(--transition-time-base) ease,
    transform 0.3s ease;
}

.profileImage:hover {
  transform: scale(1.05);
}

/* ダークモードでは少し暗くする */
.darkProfileImage {
  filter: brightness(0.75);
  box-shadow: var(--shadow-light);
}

.darkProfileImage:hover {
  transform: scale(1.05);
}

@media (max-width: 750px) {
  /* 顔写真のサイズ制限を追加！ */
  .profileImage,
  .darkProfileImage {
    width: 40%;
    max-width: 150px; /* 必要ならこれも加える */
    margin: var(--space-sm) auto var(--space-lg);
  }
}
