/* ========================================
  グローバル設定 (色・フォント・スペース変数)
======================================== */
:root {
  /* フォントサイズ */
  --font-size-xsmall: 0.75rem; /* 12px */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px基準 */
  --font-size-large: 1.125rem; /* 18px */
  --font-size-xlarge: 1.5rem; /* 24px */

  /* スペース */
  --space-xs: 0.4rem;
  --space-sm: 0.8rem;
  --space-md: 1.2rem;
  --space-lg: 1.6rem;
  --space-xl: 2rem;

  /* transition time */
  --transition-time-sm: 0.25s;
  --transition-time-base: 0.5s;
}

:root {
  /* カラー */
  --color-bg-default: #fafaf8;
  --color-bg-muted: #f0f0ef;
  --color-bg-surface: #ffffff;
  --color-shadow: #c8c6c1;
  --color-shadow-hover: rgba(150, 150, 150, 0.5);
  --color-text-primary: #444;
  --color-text-secondary: #666;
  --color-accent: #d8aa00;
  --color-accent-transparent: rgba(216, 170, 0, 0.5);
  --color-accent-hover: #f76b1c;
  --color-border-default: #ddd;
  --color-accent-bg: #f9e29c;
  --color-sunmoon-icon: #40e0d0;

  /* シャドウ */
  --shadow-light: 0 2px 4px rgba(0, 0, 0, 0.08);
  --shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.15);
}

[data-theme="dark"] {
  --color-bg-default: #171716;
  --color-bg-muted: #2d2d2c;
  --color-bg-surface: #131210;
  --color-shadow: #707070;
  --color-shadow-hover: rgba(100, 100, 100, 0.5);
  --color-text-primary: #bfbfbf;
  --color-text-secondary: #949494;
  --color-accent: #b18c06;
  --color-accent-transparent: rgba(177, 140, 6, 0.5);
  --color-accent-hover: #f76b1c;
  --color-border-default: #333;
  --color-accent-bg: #6c5509;
  --color-sunmoon-icon: #facc15;
  /* シャドウ */
  --shadow-light: 0 2px 4px rgba(255, 255, 255, 0.08);
  --shadow-hover: 0 4px 8px rgba(255, 255, 255, 0.3);
}
