<!-- 趣味  -->
<section
  class="profile-page__section profile-page__wide-section"
  id="interests"
>
  <h2>
    <span class="sec-en">INTERESTS</span>
    <span class="sec-ja">趣味・関心</span>
  </h2>
  <h3>趣味</h3>
  <p>
    「趣味」という言葉には、単なる好み以上の意味があり、それを語ることにはいつも少し身構えてしまう。ブルデューのいうような「ディスタンクシオン（差異化）」——つまり、趣味が社会的な立場や階級を映し出すものだという感覚が、無邪気な自己紹介をためらわせるのかもしれない。
  </p>
  <p>
    それでも、美術館や古本屋、レコード屋を歩く時間は、自分にとってかけがえのない喜びだ。作品やモノの背後にある時間や物語を想像し、なぜそれに惹かれるのかを問いながら歩くことが、最も自然なかたちの「趣味」としてある。哲学もまた、断片的な読書や思索を通じて、感情や視点に折り返しながら自己を見つめ直す時間となっている。
  </p>
  <p>
    詩や写真、音楽といったメディアに触れるなかで、「伝えきれなさ」や「ズレ」に詩情を感じる瞬間に心を動かされることが多い。こうした営みは単なる趣味にとどまらず、物事の構造を捉え直し、当たり前を疑うという姿勢として、技術や表現、創作に向き合う際にも深く影響していると感じている。
  </p>

  <h3>関心</h3>
  <p>以下は、これまで私が思索や実践の中で特に惹かれてきたテーマです。</p>
  <ul>
    <li>
      哲学、特に存在論（断絶や身体性）、倫理学（他者・応答責任）、認識論（視線・表象）への関心
    </li>
    <li>
      他者・身体・関係性：他者との関係や距離、そしてそのすれ違いに宿る構造的な問いに関心がある。
      視線や身体、言葉にならない感情の交差点を見つめながら、思想と経験のあいだで思索を重ねている。
    </li>
    <li>人形制作：「視線」と「オブジェ化」という主題との結びつき</li>
    <li>
      懐古趣味・レコード収集：過去に向けられた一方通行の視線＝ノスタルジアとしての営み、
      記憶の中のイメージとの静かな対話。
    </li>
    <li>
      詩や写真：「伝達のずれ」や「沈黙に近い詩情」を通じて、孤独な自己と世界の接点を見出す試み
    </li>
    <li>
      都市：考現学や路上観察に惹かれ、都市に潜む些細なズレや記号を読み取る営みを大切にしている。
      特に東京における匿名性や多層的な時間の流れに、詩的な呼びかけを感じている。
    </li>
    <li>
      テクノロジーと芸術の交差点：個人の感情や社会の無意識と、メディアがどう結びつくかという問い。
    </li>
  </ul>

  <h3>影響を受けた人物・作品</h3>
  <ul>
    <li>
      思索者:
      <ul>
        <li>Georges Bataille（断絶と欲望、禁忌と祝祭。その深淵に共鳴）</li>
        <li>Sigmund Freud（欲望と無意識、理性の背後に潜む衝動の構造的探究）</li>
        <li>Roland Barthes（言語と記号、視線の鋭利な分析と思索の優美）</li>
        <li>Walter Benjamin（モノと記憶、都市に潜む哀惜の感触）</li>
        <li>巖谷國士（夢と無意識の回廊としてのシュルレアリスム）</li>
      </ul>
    </li>
    <li>
      作家:
      <ul>
        <li>澁澤龍彥（異端と耽美、禁忌と美学の系譜）</li>
        <li>寺山修司（感情と演出の混沌）</li>
        <li>唐十郎 (都市の裂け目から溢れ出す夢と身体の演劇)</li>
        <li>安部公房（存在の不確かさ、都市的異化の詩学）</li>
        <li>三島由紀夫（美と破滅、肉体と観念の交差点）</li>
        <li>谷崎潤一郎（官能と美意識、倒錯と静寂の間に）</li>
        <li>夢野久作（夢と狂気が交錯する異界の寓話）</li>
      </ul>
    </li>
    <li>詩人: 萩原朔太郎（都市と憂愁）</li>
    <li>アーティスト: 宇野亞喜良（耽美の線描）</li>
    <li>
      音楽
      <ul>
        <li>The Beatles（大衆と芸術、その間隙に揺れる叙情）</li>
        <li>Phil Spector（音の壁、その向こうの情念）</li>
        <li>Bob Dylan（言葉と抵抗、歌の中の沈黙）</li>
        <li>Pink Floyd（時と空間、音響による内的宇宙の編成）</li>
        <li>大瀧詠一（記憶と郷愁、ポップスの私的神話）</li>
      </ul>
    </li>
  </ul>

  <h3>共鳴する言葉・思想</h3>
  <ul class="quotes-list">
    <% for (const quote of quotes) { %>
    <li>
      <blockquote>
        <div class="quote-block">
          <div class="text"><%= quote.text %></div>
          <div class="author">- <%= quote.author %></div>
        </div>
      </blockquote>
      <div class="commentary"><%= quote.commentary %></div>
    </li>
    <% } %>
  </ul>
</section>
