<!-- 1行目右コンテナ -->
<div class="profile-page__section profile-page__overview">
  <!-- パーパス -->
  <section id="purpose">
    <h2>
      <span class="sec-en">MY PURPOSE</span>
      <span class="sec-ja">パーパス</span>
    </h2>
    <div class="overview__purpose">
      <div class="overview__purpose-line"></div>
      <div class="overview__purpose-texts">
        <p class="overview__purpose-japanese">
          問い続ける姿勢を通じて、誠実な対話と深い思考の文化を育てる。
        </p>
        <p class="overview__purpose-english">
          Foster a culture of sincere dialogue and deep thinking through an
          enduring attitude of questioning.
        </p>
      </div>
    </div>
  </section>
  <!-- 大切にする価値観 -->
  <section id="values">
    <h2>
      <span class="sec-en">MY VALUES</span>
      <span class="sec-ja">大切にする価値観</span>
    </h2>

    <div class="overview__values">
      <div class="overview__value">
        <div class="overview__value-icon">美学</div>
        <p>
          哲学に通じる強いこだわりを持ち、思考や行動における美しさと一貫性を重んじる。<br />
          論理と感性が交差する場所に、真の美を見出したいと願っている。
        </p>
      </div>
      <div class="overview__value">
        <div class="overview__value-icon">平静</div>
        <p>
          判断においては常に冷静かつ客観的であることを心がける。<br />
          ただし、感情を排除せず、それもまた人間的な理解の一部として大切にしたい。
        </p>
      </div>
      <div class="overview__value">
        <div class="overview__value-icon">公正</div>
        <p>
          表面的な対立や単純な二項対立に囚われず、<br />
          背後にある構造や文脈、多様な視点に目を向けて思考することを大切にしている。
        </p>
      </div>
    </div>
  </section>
  <!-- わたしについて -->
  <section id="about-me">
    <h2>
      <span class="sec-en">ABOUT ME</span>
      <span class="sec-ja">わたしについて</span>
    </h2>
    <p>
      情報通信を専門に、大学・大学院では機械学習や無線センシングの研究を通して、
      <span class="marker"> 現象の構造を捉え直し、本質に迫ること </span>
      を大切にしてきました。 哲学や芸術への関心もあり、<span class="marker">
        常に問いを持ちながら
      </span>
      、社会や人と誠実に向き合いたいと考えています。
    </p>
    <p>
      今後は、情報通信技術を基盤に、
      Web・ソフトウェア開発やAI・クラウドなど幅広い分野に挑戦し、
      実践を通して技術力と視野を広げていきたいです。
      特定の業界や用途にはこだわらず、
      <span class="marker">
        組織や社会の中にある非効率や齟齬の構造に目を向け、仕組みの本質から技術でなめらかにする
      </span>
      ことに関心があります。
    </p>
  </section>
</div>
