<!-- 資格・スキル -->
<section class="profile-page__section profile-page__wide-section" id="skills">
  <h2>
    <span class="sec-en">CERTIFICATIONS / SKILLS</span>
    <span class="sec-ja">資格・スキル</span>
  </h2>
  <h3>保有資格</h3>
  <section class="certification-skill__categories">
    <section class="certification-skill__category">
      <h4>IPA資格</h4>
      <ul class="certification-skill__certifications">
        <li>
          <span class="certification-skill__certification-name"
            >基本情報技術者</span
          >
          <span class="certification-skill__certification-date"
            >（2024.7）</span
          >
        </li>
        <li>
          <span class="certification-skill__certification-name"
            >応用情報技術者</span
          >
          <span class="certification-skill__certification-date"
            >（2024.12）</span
          >
        </li>
      </ul>
    </section>

    <section class="certification-skill__category">
      <h4>英語</h4>
      <ul class="certification-skill__certifications">
        <li>
          <span class="certification-skill__certification-name"
            >TOEIC 845点</span
          >
          <span class="certification-skill__certification-date"
            >（2021.10）</span
          >
        </li>
        <li>
          <span class="certification-skill__certification-name">英検準1級</span>
          <span class="certification-skill__certification-date"
            >（2016.6）</span
          >
        </li>
      </ul>
    </section>

    <section class="certification-skill__category">
      <h4>その他</h4>
      <ul class="certification-skill__certifications">
        <li>
          <span class="certification-skill__certification-name">簿記3級</span>
          <span class="certification-skill__certification-date"
            >（2024.11）</span
          >
        </li>
      </ul>
    </section>
  </section>

  <h3>スキル</h3>
  <section class="certification-skill__categories">
    <section class="certification-skill__category">
      <h4>AI / ML / DS</h4>
      <ul class="certification-skill__skills">
        <li>
          <span class="certification-skill__skill-name">NumPy</span>
          <div class="skill-bar"><div style="width: 80%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">pandas</span>
          <div class="skill-bar"><div style="width: 60%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">matplotlib</span>
          <div class="skill-bar"><div style="width: 60%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">scikit-learn</span>
          <div class="skill-bar"><div style="width: 70%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">PyTorch</span>
          <div class="skill-bar"><div style="width: 40%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">TensorFlow</span>
          <div class="skill-bar"><div style="width: 80%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">MLOps</span>
          <div class="skill-bar"><div style="width: 10%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">LLMOps</span>
          <div class="skill-bar"><div style="width: 10%"></div></div>
        </li>
      </ul>
    </section>

    <section class="certification-skill__category">
      <h4>Frontend</h4>
      <ul class="certification-skill__skills">
        <li>
          <span class="certification-skill__skill-name">HTML/CSS</span>
          <div class="skill-bar"><div style="width: 50%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">JavaScript</span>
          <div class="skill-bar"><div style="width: 20%"></div></div>
        </li>
      </ul>
    </section>

    <section class="certification-skill__category">
      <h4>Backend / Programming</h4>
      <ul class="certification-skill__skills">
        <li>
          <span class="certification-skill__skill-name">Python</span>
          <div class="skill-bar"><div style="width: 90%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">C</span>
          <div class="skill-bar"><div style="width: 60%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">Java</span>
          <div class="skill-bar"><div style="width: 10%"></div></div>
        </li>
      </ul>
    </section>
    <section class="certification-skill__category">
      <h4>DevOps / Infrastructure</h4>
      <ul class="certification-skill__skills">
        <li>
          <span class="certification-skill__skill-name">Linux</span>
          <div class="skill-bar"><div style="width: 60%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">Docker</span>
          <div class="skill-bar"><div style="width: 80%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">Docker Compose</span>
          <div class="skill-bar"><div style="width: 60%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">Git/GitHub</span>
          <div class="skill-bar"><div style="width: 60%"></div></div>
        </li>
        <li>
          <span class="certification-skill__skill-name">CI/CD</span>
          <div class="skill-bar"><div style="width: 20%"></div></div>
        </li>
      </ul>
    </section>
  </section>
</section>
