.navItemBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--space-xs) var(--space-sm);
  display: block;
  font-weight: bold;
  text-decoration: none;
  font-size: var(--font-size-small);
  border-radius: 0.25rem;
  color: var(--color-text-primary);
  transition: background-color var(--transition-time-base) ease;
  white-space: nowrap;
}

.navItemBtn:hover {
  color: var(--color-accent-hover);
}

.navItemMobileOnly {
  display: none;
}

@media (max-width: 900px) {
  .navItemMobileOnly {
    display: block;
  }
}
