.toggleButton {
  width: 48px;
  height: 48px;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color-sunmoon-icon);
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.icon::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 8px;
  bottom: 4px;
  border-radius: 50%;
  background: var(--color-bg-surface);
  transition: all var(--transition-time-sm) ease;
}

.ray {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--color-sunmoon-icon);
  border-radius: 50%;
  left: 7px;
  top: 7px;
  transition: transform var(--transition-time-base) ease-in-out;
}

.ray:nth-child(1) {
  transform: rotate(45deg) translateX(0);
}
.ray:nth-child(2) {
  transform: rotate(90deg) translateX(0);
}
.ray:nth-child(3) {
  transform: rotate(135deg) translateX(0);
}
.ray:nth-child(4) {
  transform: rotate(180deg) translateX(0);
}
.ray:nth-child(5) {
  transform: rotate(225deg) translateX(0);
}
.ray:nth-child(6) {
  transform: rotate(270deg) translateX(0);
}
.ray:nth-child(7) {
  transform: rotate(315deg) translateX(0);
}
.ray:nth-child(8) {
  transform: rotate(360deg) translateX(0);
}

/* --- Light Theme --- */
.light .icon {
  transform: scale(1);
}
.light .icon::after {
  transform: scale(1);
  left: 8px;
  bottom: 4px;
}
.light .ray:nth-child(n) {
  transform: rotate(var(--angle)) translateX(0);
}

/* --- Dark Theme --- */
.dark .icon {
  transform: scale(0.6);
}
.dark .icon::after {
  transform: scale(0);
  left: 15px;
  bottom: 8px;
}
.dark .ray:nth-child(1) {
  transform: rotate(45deg) translateX(-16px);
}
.dark .ray:nth-child(2) {
  transform: rotate(90deg) translateX(-16px);
}
.dark .ray:nth-child(3) {
  transform: rotate(135deg) translateX(-16px);
}
.dark .ray:nth-child(4) {
  transform: rotate(180deg) translateX(-16px);
}
.dark .ray:nth-child(5) {
  transform: rotate(225deg) translateX(-16px);
}
.dark .ray:nth-child(6) {
  transform: rotate(270deg) translateX(-16px);
}
.dark .ray:nth-child(7) {
  transform: rotate(315deg) translateX(-16px);
}
.dark .ray:nth-child(8) {
  transform: rotate(360deg) translateX(-16px);
}
